@import "../../style.scss";

.plcharts {
  @include themify($themes) {
    flex: 1;
    min-height: 30vh;
    max-height: 30vh;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(200, 200, 200, 0.1);
    margin: 0 5px;
    padding: 10px;
    background-color: themed("bg");
  }
  .title {
    color: rgb(80, 80, 78);
    margin-bottom: 20px;
  }
  .Grid {
    stroke: rgb(217, 220, 223);
  }
}
